title, h1{
  color:rgb(200, 0, 200);
}

button{
  font-size: 16px;
}

#audio_url {
  width: 75%;
  font-size: 16px;
}

#drop {
  margin: 2em 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: max-content;
}

.over {
  border: 4px dashed #333;
}

.text-overflow-ellipses {
  padding: 12px 0;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: bold;
}

.panel {
  border-left: 5px solid rgb(200, 0, 200);
  padding-left: 10px;
}

.waveform {
    width: 100%;
    background-color:rgb(240, 248, 255)
}

.waveform ::part(minimap) {
  background-color: rgb(229 235 241);
} 


.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#editor{
  height: 500px;
  border: 1px solid gray;
}

:focus {
  border: 1px solid rgb(232, 156, 255);
  padding: 10px;
}

media-controller {
  --media-primary-color: rgb(200, 0, 200);
  --media-secondary-color: #333; 
  --media-control-hover-background: rgb(128 0 0 / 0.85);
  --media-control-background-color:  var(--media-secondary-color);
  background-color: var(--media-secondary-color);
}

.toggle_checkbox{
  vertical-align: middle;
  display: inline-block;
  padding: var(--media-control-padding, 10px);
  cursor: pointer;
}

.toggle_checkbox input{
  opacity: 0;
  width: 0;
  height: 0;
}

.switch_color{
  vertical-align: middle;
}

input:checked + .switch_color{
  color: var(--media-secondary-color);
  background-color: var(--media-primary-color);
}